# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env
.env

# Editors/OS
.DS_Store
.idea/
.vscode/

# Build/Dist
build/
dist/
.coverage
.pytest_cache/

# Data outputs
data/generated_questions/*
data/word_exports/*
